# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
dist/
build/
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# PyCharm
.idea/
*.iml
*.iws
out/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/assetWizardSettings.xml
.idea/coverage
.idea/httpRequests
.idea/shelf

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.local
.env.*.local

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# SQLite
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
